.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 1;
  transition: transform 0.1s ease;
}
.card:hover {
  transform: scale(1.05);
}

.img {
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  color: #666;
}
