body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7 !important;
}

.link {
  text-decoration: none;
}
.cart {
  background-color: #fff;
}
.admin__item {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.centered-grid-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}
.fullItem__img img {
  height: 250px;
  object-fit: cover;
  object-position: center;
}
